@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';

.bg-assert {
  background-color: #5B9991
}

.bg-assert-light {
  background-color: #86d8cd
}

.header .header-container .nav-left>li>a i,
.header .header-container .nav-right>li>a i,
.header .header-container .peer span {
  color: white !important;
}